export("as.simple.formula",
	"cutoff.biggest.diff",
	"cutoff.k",
	"cutoff.k.percent",
	"best.first.search",
	"backward.search",
	"forward.search",
	"hill.climbing.search",
	"exhaustive.search",
	"cfs",
	"chi.squared",
	"information.gain",
	"gain.ratio",
	"symmetrical.uncertainty",
	"linear.correlation",
	"rank.correlation",
	"oneR",
	"relief",
	"consistency",
	"random.forest.importance")
importFrom(randomForest, randomForest, importance)
importFrom(RWeka, Discretize)
importFrom(digest, digest)
