export("as.simple.formula",
	"cutoff.biggest.diff",
	"cutoff.k",
	"cutoff.k.percent",
	"best.first.search",
	"backward.search",
	"forward.search",
	"hill.climbing.search",
	"cfs",
	"chi.squared",
	"information.gain",
	"information.gain.ratio",
	"symmetrical.uncertainty",
	"linear.correlation",
	"rank.correlation",
	"oneR",
	"relief",
	"random.forest.importance")
